* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    color: white;
    background: linear-gradient(rgb(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(https://wallpaper.dog/large/743396.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
